body {
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow-x: hidden; }

.text-muted {
  color: #777; }

.text-primary {
  color: #ee7335; }

p {
  font-size: 14px;
  line-height: 1.75; }
  p .large {
    font-size: 16px; }

a,
a:hover,
a:focus,
a:active,
a.active {
  outline: none; }

a {
  color: #ee7335; }

a:hover,
a:focus,
a:active,
a.active {
  color: #dd5713; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700; }

.img-centered {
  margin: 0 auto; }

.bg-light-gray {
  background-color: #f7f7f7; }

.bg-darkest-gray {
  background-color: #222; }

.btn-primary {
  color: #fff;
  background-color: #ee7335;
  border-color: #ee7335;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active,
  .btn-primary .open .dropdown-toggle {
    background-color: #dd5713;
    border-color: #d45312;
    color: #fff; }
  .btn-primary:active, .btn-primary.active,
  .btn-primary .open .dropdown-toggle {
    background-image: none; }
  .btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled:active, .btn-primary.disabled.active, .btn-primary[disabled], .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled]:active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary.active {
    background-color: #ee7335;
    border-color: #ee7335; }
  .btn-primary .badge {
    background-color: #fff;
    color: #ee7335; }

.btn-xl {
  color: #fff;
  background-color: #ee7335;
  border-color: #ee7335;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  border-radius: 3px;
  font-size: 18px;
  font-weight: 700;
  padding: 20px 40px; }
  .btn-xl:hover, .btn-xl:focus, .btn-xl:active, .btn-xl.active,
  .btn-xl .open .dropdown-toggle {
    background-color: #dd5713;
    border-color: #d45312;
    color: #fff; }
  .btn-xl:active, .btn-xl.active,
  .btn-xl .open .dropdown-toggle {
    background-image: none; }
  .btn-xl.disabled, .btn-xl.disabled:hover, .btn-xl.disabled:focus, .btn-xl.disabled:active, .btn-xl.disabled.active, .btn-xl[disabled], .btn-xl[disabled]:hover, .btn-xl[disabled]:focus, .btn-xl[disabled]:active, .btn-xl[disabled].active, fieldset[disabled] .btn-xl, fieldset[disabled] .btn-xl:hover, fieldset[disabled] .btn-xl:focus, fieldset[disabled] .btn-xl:active, fieldset[disabled] .btn-xl.active {
    background-color: #ee7335;
    border-color: #ee7335; }
  .btn-xl .badge {
    background-color: #fff;
    color: #ee7335; }

.navbar-default {
  background-color: #222;
  border-color: transparent; }
  .navbar-default .navbar-brand {
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
    color: #ee7335; }
    .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:active, .navbar-default .navbar-brand.active {
      color: #dd5713; }
  .navbar-default .navbar-collapse {
    border-color: fade(#fff, 2%); }
  .navbar-default .navbar-toggle {
    background-color: #ee7335;
    border-color: #ee7335; }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #fff; }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
      background-color: #ee7335; }
  .navbar-default .nav li a {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
    letter-spacing: 1px; }
    .navbar-default .nav li a:hover, .navbar-default .nav li a:focus {
      color: #ee7335;
      outline: none; }
  .navbar-default .navbar-nav > .active > a {
    background-color: #ee7335;
    border-radius: 0;
    color: #fff; }
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    background-color: #dd5713;
    color: #fff; }

@media (min-width: 768px) {
  .navbar-default {
    background-color: transparent;
    border: 0;
    padding: 25px 0;
    -moz-transition: padding .3s;
    -webkit-transition: padding .3s;
    transition: padding .3s; }
    .navbar-default .navbar-brand {
      font-size: 2em;
      -moz-transition: all .3s;
      -webkit-transition: all .3s;
      transition: all .3s; }
    .navbar-default .navbar-nav > .active > a {
      border-radius: 3px; }

  .navbar-default.navbar-shrink {
    background-color: #222;
    padding: 10px 0; }
    .navbar-default.navbar-shrink .navbar-brand {
      font-size: 1.5em; } }
header {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-attachment: scroll;
  background-image: url("../images/header-bg.jpg");
  background-position: center center;
  background-repeat: none;
  color: #fff;
  text-align: center; }
  header .intro-text {
    padding-bottom: 50px;
    padding-top: 100px; }
    header .intro-text .intro-lead-in {
      font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 22px;
      font-style: italic;
      line-height: 22px;
      margin-bottom: 25px; }
    header .intro-text .intro-heading {
      font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 70;
      line-height: 30px;
      margin-bottom: 25px; }

@media (min-width: 768px) {
  header .intro-text {
    padding-bottom: 200px;
    padding-top: 300px; }
    header .intro-text .intro-lead-in {
      font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 40px;
      font-style: italic;
      line-height: 40px;
      margin-bottom: 25px; }
    header .intro-text .intro-heading {
      font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
      text-transform: uppercase;
      font-size: 75px;
      font-weight: 700;
      line-height: 75px;
      margin-bottom: 50px; } }
section {
  padding: 100px 0; }
  section h2.section-heading {
    font-size: 40px;
    margin-bottom: 15px;
    margin-top: 0; }
  section h3.section-subheading {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 75px;
    text-transform: none; }

@media (min-width: 768px) {
  section {
    padding: 150px 0; } }
.service-heading {
  margin: 15px 0;
  text-transform: none; }

#portfolio .portfolio-item {
  margin: 0 0 15px;
  right: 0; }
  #portfolio .portfolio-item .portfolio-link {
    display: block;
    margin: 0 auto;
    max-width: 400px;
    position: relative; }
    #portfolio .portfolio-item .portfolio-link .portfolio-hover {
      background: rgba(238, 115, 53, 0.9);
      height: 100%;
      opacity: 0;
      position: absolute;
      -moz-transition: all ease .5s;
      -webkit-transition: all ease .5s;
      transition: all ease .5s;
      width: 100%; }
      #portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
        opacity: 1; }
      #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
        color: #fff;
        font-size: 20px;
        height: 20px;
        margin-top: -12px;
        position: absolute;
        text-align: center;
        top: 50%;
        width: 100%; }
        #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
          margin-top: -12px; }
        #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
        #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
          margin: 0; }
  #portfolio .portfolio-item .portfolio-caption {
    background-color: #fff;
    margin: 0 auto;
    max-width: 400px;
    padding: 25px;
    text-align: center; }
    #portfolio .portfolio-item .portfolio-caption h4 {
      margin: 0;
      text-transform: none; }
    #portfolio .portfolio-item .portfolio-caption p {
      font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 16px;
      font-style: italic;
      margin: 0; }
#portfolio * {
  z-index: 2; }

@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px; } }
.timeline {
  list-style: none;
  padding: 0;
  position: relative; }
  .timeline:before {
    background-color: #f1f1f1;
    bottom: 0;
    content: '';
    left: 40px;
    margin-left: -1.5px;
    position: absolute;
    top: 0;
    width: 2px; }
  .timeline > li {
    margin-bottom: 50px;
    min-height: 50px;
    position: relative; }
    .timeline > li:before, .timeline > li:after {
      content: ' ';
      display: table; }
    .timeline > li:after {
      clear: both; }
    .timeline > li .timeline-panel {
      float: right;
      padding: 0 20px 0 100px;
      position: relative;
      text-align: left;
      width: 100%; }
      .timeline > li .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto; }
      .timeline > li .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto; }
    .timeline > li .timeline-image {
      background-color: #ee7335;
      border: 7px solid #f1f1f1;
      border-radius: 100%;
      color: #fff;
      height: 80px;
      left: 0;
      margin-left: 0;
      position: absolute;
      text-align: center;
      width: 80px;
      z-index: 100; }
      .timeline > li .timeline-image h4 {
        font-size: 10px;
        line-height: 14px;
        margin-top: 12px; }
    .timeline > li.timeline-inverted > .timeline-panel {
      float: right;
      padding: 0 20px 0 100px;
      text-align: left; }
      .timeline > li.timeline-inverted > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto; }
      .timeline > li.timeline-inverted > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto; }
    .timeline > li:last-child {
      margin-bottom: 0; }
  .timeline .timeline-heading h4 {
    color: inherit;
    margin-top: 0; }
    .timeline .timeline-heading h4.subheading {
      text-transform: none; }
  .timeline .timeline-body > p,
  .timeline .timeline-body > ul {
    margin-bottom: 0; }

@media (min-width: 768px) {
  .timeline:before {
    left: 50%; }
  .timeline > li {
    margin-bottom: 100px;
    min-height: 100px; }
    .timeline > li .timeline-panel {
      float: left;
      padding: 0 20px 20px 30px;
      text-align: right;
      width: 41%; }
    .timeline > li .timeline-image {
      height: 100px;
      left: 50%;
      margin-left: -50px;
      width: 100px; }
      .timeline > li .timeline-image h4 {
        font-size: 13px;
        line-height: 18px;
        margin-top: 16px; }
    .timeline > li.timeline-inverted > .timeline-panel {
      float: right;
      padding: 0 30px 20px 20px;
      text-align: left; } }
@media (min-width: 992px) {
  .timeline > li {
    min-height: 150px; }
    .timeline > li .timeline-panel {
      padding: 0 20px 20px; }
    .timeline > li .timeline-image {
      height: 150px;
      margin-left: -75px;
      width: 150px; }
      .timeline > li .timeline-image h4 {
        font-size: 18px;
        line-height: 26px;
        margin-top: 30px; }
    .timeline > li.timeline-inverted > .timeline-panel {
      padding: 0 20px 20px; } }
@media (min-width: 1200px) {
  .timeline > li {
    min-height: 170px; }
    .timeline > li .timeline-panel {
      padding: 0 20px 20px 100px; }
    .timeline > li .timeline-image {
      height: 170px;
      margin-left: -85px;
      width: 170px; }
      .timeline > li .timeline-image h4 {
        margin-top: 40px; }
    .timeline > li.timeline-inverted > .timeline-panel {
      padding: 0 100px 20px 20px; } }
.team-member {
  margin-bottom: 50px;
  text-align: center; }
  .team-member img {
    border: 7px solid #fff;
    margin: 0 auto; }
  .team-member h4 {
    margin-bottom: 0;
    margin-top: 25px;
    text-transform: none; }
  .team-member p {
    margin-top: 0; }

aside.clients img {
  margin: 50px auto; }

section#contact {
  background-color: #222;
  background-image: url("../images/map-image.png");
  background-position: center;
  background-repeat: no-repeat; }
  section#contact .section-heading {
    color: #fff; }
  section#contact .form-group {
    margin-bottom: 25px; }
    section#contact .form-group input,
    section#contact .form-group textarea {
      padding: 20px; }
    section#contact .form-group input.form-control {
      height: auto; }
    section#contact .form-group textarea.form-control {
      height: 236px; }
  section#contact .form-control:focus {
    border-color: #ee7335;
    box-shadow: none; }
  section#contact ::-webkit-input-placeholder {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    color: #bbb;
    font-weight: 700; }
  section#contact :-moz-placeholder {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    color: #bbb;
    font-weight: 700; }
  section#contact ::-moz-placeholder {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    color: #bbb;
    font-weight: 700; }
  section#contact :-ms-input-placeholder {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    color: #bbb;
    font-weight: 700; }
  section#contact .text-danger {
    color: #34459e; }

footer {
  padding: 25px 0;
  text-align: center; }
  footer span.copyright {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    line-height: 40px;
    text-transform: none; }
  footer ul.quicklinks {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    line-height: 40px;
    margin-bottom: 0;
    text-transform: none; }

ul.social-buttons {
  margin-bottom: 0; }
  ul.social-buttons li a {
    background-color: #222;
    border-radius: 100%;
    color: #fff;
    display: block;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    outline: none;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    transition: all .3s;
    width: 40px; }
    ul.social-buttons li a:hover, ul.social-buttons li a:focus, ul.social-buttons li a:active {
      background-color: #ee7335; }

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
  outline: none; }

.portfolio-modal .modal-content {
  background-clip: border-box;
  border: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  min-height: 100%;
  padding: 100px 0;
  text-align: center; }
  .portfolio-modal .modal-content h2 {
    font-size: 3em;
    margin-bottom: 15px; }
  .portfolio-modal .modal-content p {
    margin-bottom: 30px; }
    .portfolio-modal .modal-content p .item-intro {
      font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 16px;
      font-style: italic;
      margin: 20px 0 30px; }
  .portfolio-modal .modal-content ul.list-inline {
    margin-bottom: 30px;
    margin-top: 0; }
  .portfolio-modal .modal-content img {
    margin-bottom: 30px; }
.portfolio-modal .close-modal {
  background-color: transparent;
  cursor: pointer;
  height: 75px;
  position: absolute;
  right: 25px;
  top: 25px;
  width: 75px; }
  .portfolio-modal .close-modal:hover {
    opacity: .3; }
  .portfolio-modal .close-modal .lr {
    background-color: #222;
    height: 75px;
    margin-left: 35px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 1px;
    z-index: 1051; }
    .portfolio-modal .close-modal .lr .rl {
      background-color: #222;
      height: 75px;
      -ms-transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
      width: 1px;
      z-index: 1052; }
.portfolio-modal .modal-backdrop {
  display: none;
  opacity: 0; }

::-moz-selection {
  background: #ee7335;
  text-shadow: none; }

::selection {
  background: #ee7335;
  text-shadow: none; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

body {
  webkit-tap-highlight-color: #ee7335; }
