<footer>
    <div class="container">
        <section id="contact">
        <div class="row">
            <div class="col-md-4">
                <h3>AgileVentures</h3>
                <p style="text-align: left;" class="text-muted">
                Our purpose is to develop better more affordable software solutions to enable non-profits to be more effective and more efficient. We also host a <a href="http://www.agileventures.org">learning community</a> around online courses that enable developers to improve their team and software skills, and then to apply them on socially useful projects for non-profits. </p>
                <p style="text-align: left; font-weight: bold;" class="text-muted">We are a Charitable Incorporated Organisation (CIO) in the UK. Ref #1170963</p>
            </div>
            <div class="col-md-4">
                <h3>Services</h3>
                <div class="list">
                    <i class="fa fa-check fa-lg fa-text"><span class='font-override text-muted'>&nbsp;&nbsp;Websites</span></i>
                    <i class="fa fa-check fa-lg fa-text"><span class='font-override text-muted'>&nbsp;&nbsp;Mobile apps</span></i>
                    <i class="fa fa-check fa-lg fa-text"><span class='font-override text-muted'>&nbsp;&nbsp;Process Automation</span></i>
                    <i class="fa fa-check fa-lg fa-text"><span class='font-override text-muted'>&nbsp;&nbsp;Software Projects</span></i>
                </div>
            </div>
            <div class="col-md-4">
                <h3>Get in touch</h3>
                <div class="contact-list">
                   <i class="fa fa-envelope fa-md fa-text "><a class='font-override' href='mailto:nonprofits@agileventures.org'>&nbsp;&nbsp;nonprofits@<wbr>agileventures.org</a></span></i>
                  <i class="fa fa-lg fa-text"><span class='font-override'>AgileVentures</span></i>
                  <i class="fa fa-lg fa-text"><span class='font-override'>The Lodge</span></i>
                  <i class="fa fa-lg fa-text"><span class='font-override'>64 Pinner Road</span></i>
                  <i class="fa fa-lg fa-text"><span class='font-override'>Harrow, HA1 4HZ</span></i>
                </div>
            </div>
        </div>
        </section>
        <div class="row">
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li><a href="/privacy">Privacy Policy</a>
                    </li>
                    <li><a href="/terms">Terms of Use</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; AgileVentures Charity 2021</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li><a target="_blank" href="https://twitter.com/AgileVentures"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a target="_blank" href="https://www.facebook.com/agileventures"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a target="_blank" href="https://www.linkedin.com/company/agileventures-org/"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    </section>
</footer>
