<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>AgileVentures</h3> 
                <p class="blurb text-muted">Our purpose is to develop better software at lower cost to enable non-profits to be more effective and more efficient. Our other purpose is to run free courses to enable developers to learn to code better software, and then to apply their skills on socially useful projects for non-profits. We are awaiting approval of our application to become a Charitable Incorporated Organisation (CIO).</p>
            </div>
            <div class="col-md-4">
                <h3>What we do</h3>
                <div class="list">
                    <i class="fa fa-check fa-lg fa-text"><span class='font-override'>&nbsp;&nbsp;Websites</span></i>
                    <i class="fa fa-check fa-lg fa-text"><span class='font-override'>&nbsp;&nbsp;Apps</span></i>
                    <i class="fa fa-check fa-lg fa-text"><span class='font-override'>&nbsp;&nbsp;Process Automation</span></i>
                    <i class="fa fa-check fa-lg fa-text"><span class='font-override'>&nbsp;&nbsp;Software Projects</span></i>
                    <i class="fa fa-check fa-lg fa-text"><span class='font-override'>&nbsp;&nbsp;<a class="no-special-color" href="http://blog.agileventures.org/#blog">Read More on Our Blog</a></span></i>
                </div>
            </div>
            <div class="col-md-4">
                <h3>Contact Us</h3>
                <div class="contact-list">
                  <i class="fa fa-envelope fa-lg fa-text fa-fw"><span class='font-override'>&nbsp;&nbsp;info@agileventures.org</span></i>
                  <i class="fa fa-phone-square fa-lg fa-text fa-fw"><span class='font-override'>&nbsp;&nbsp;07803&nbsp;544689</span></i>
                  <i class="fa fa-map-marker fa-lg fa-text fa-fw"><span class='font-override'>&nbsp;&nbsp;AgileVentures</span></i>
                  <i class="fa fa-lg fa-text"><span class='font-override'>The Lodge</span></i>
                  <i class="fa fa-lg fa-text"><span class='font-override'>64 Pinner Road</span></i>
                  <i class="fa fa-lg fa-text"><span class='font-override'>Harrow, HA1 4HZ</span></i>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li><a href="/privacy">Privacy Policy</a>
                    </li>
                    <li><a href="/terms">Terms of Use</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; AgileVentures 2016</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li><a href="https://twitter.com/AgileVentures"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="https://www.facebook.com/agileventures"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="https://www.linkedin.com/company/agileventiures"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>