 <div class="col-md-4 col-sm-6 portfolio-item">
    <a href="#<%= p[:modal] %>" class="portfolio-link" data-toggle="modal">
        <div class="portfolio-hover">
            <div class="portfolio-hover-content">
                <i class="fa fa-hand-o-up fa-3x"></i>
            </div>
        </div>
        <img src="<%= p[:preview_image] %>" class="img-responsive" alt="">
    </a>
    <div class="portfolio-caption">
        <h4><%= p[:title] %></h4>
        <p class="text-muted"><%= p[:tagline] %></p>
    </div>
</div>