---
title: Welcome to Agile Ventures
---

<div class="welcome">
  <div class="logo">
    <%= image_tag "full_logo2.png" %>
  </div>
  <h1>AgileVentures is Awesome</h1>
  <p class="doc">
    <%= link_to "Learn More", "https://agileventures.org", target: "_blank" %>
  </p><!-- .doc -->
</div><!-- .welcome -->
  