<%= partial('partials/nav.html', locals: {url_prefix: '/'}) %>
<section>
<h2>
  Privacy Policy
</h2>
<p class='large'>
  Are you kidding, there is no privacy in the 21st century!
</p>
</section>
<%= partial('partials/footer') %>