<%= partial('partials/nav.html', locals: {url_prefix: '/'}) %>
<section>
<h2>
  Terms and Conditions
</h2>
<p class='large'>
  By using this website you agree not to hold us liable for anything.
</p>
</section>
<%= partial('partials/footer') %>